<h1>Products#index</h1>
<p>Find me in app/views/products/index.html.erb</p>
<% @products.each do |product| %>
   <%= product.name %>
   <%= link_to "Show", product_path(product) %>
   <%= link_to "Edit", edit_product_path(product) %>
   <%= button_to "Delete", product_path(product), method: :delete, data: { confirm: 'Are you sure?' }  %>
<% end %>
<%= link_to "New", new_product_path %>